* {
    margin: 0;
    padding: 0;
}

.quadrados div {
    width: 300px;
    height: 500px;
    border-radius: 25px;
    color: black;
    padding: 20px;
    margin: 10px;
    font-family: 'Source Sans Pro', sans-serif;
    display: inline-table;
}

.quadrado-01 {
    background-color: white;
    border: 5px solid rgb(94, 80, 80);
        
}

.quadrado-02 {
    background-color: white;
    border: 5px solid black;

}

.quadrado-03 {
    background-color: white;
    border: 5px solid #bababa;
    
}

h3 { 
   
    font-family: 'Source Sans Pro', sans-serif;
    margin: 20;
    padding: 20;

}




