*{ margin: 0;
  padding: 0;
 
font-family: 'DynaPuff', cursive;
font-family: 'Roboto', sans-serif;
}
 
body {
 background-image: url("./img/background.webp");
 background-image: repeat;
 background-size: cover;
}

.header-principal {
 padding: 20px 0px;
 display: flex;
 justify-content: space-around;
}

.logo {
 width: 200px;
 height: 120px;
}

.logo img {
 width: 100%;
 height: auto;
}

.menu-topo {
color: white;
}

.lista-menu-topo {
 display: flex;
 list-style: none;
 justify-content: space-around;
 width: 300px;
 height: 100px;
 align-items: center;
}

.retangulo {
 display: flex;
 flex-direction: column;
 align-items: stretch;
 justify-content: space-around;
 width: 100vw;
}

.Curiodidades {
 padding: 10px;
 margin: 10px 0px;
}

.curiosidade-01 {

 color: white;
 padding: 20px
 
}

#video {

 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 width: 100%;
}


.titulo-curiosidade{
    font-family: 'DynaPuff', sans-serif;
}

.conteudo-curiosidade{
    font-family: 'Roboto', sans-serif;
}

.quadrados div {
   width: 300px;
   height: 350px;
   border-radius: 25px;
   color: black;
   padding: 20px;
   margin: 10px;
   font-family: 'Roboto', sans-serif;
   display: inline-table;
   
}

.quadrado-x {
   background-color: white;
   border: 3px solid #3a7bcf;
   width: 33%;
}


footer{
 display: flex;
 flex-flow: row;
 padding: 50px;
 height: 50px;
 background-color:  #f5f5f5;
}

#linkedin, #git {
 display: flex;
 flex-flow: column;
 padding: 10px;
}

.fot_lkd{
 list-style: none;
}

@media (max-width: 425px){

.quadrado-x{
 width: 100vw;
}
.quadrado-x img{
 width: 100%;
}
 
.retangulo img{
 width: 100vw;
}
 
footer{
 width: 100vw;
 height: 100px;
 padding: 0;
}

#video{
 width: 100vw;
 margin: 0;
 padding: 0;
}

#video iframe{
 width: 100%;

}
 
}

@media (max-width: 1280px){

.quadrados div {
 width: 20vw;
 display: inline-table;
   
}
.quadrado-x{
 width: 100vw;
}
.quadrado-x img{
 width: 100%;
}
 
.retangulo img{
 width: 100vw;
}
 
footer{
 width: 100vw;
 height: 100px;
 padding: 0;
}

#video{
 width: 100vw;
 margin: 0;
 padding: 0;
}

#video iframe{
 width: 50%;

}
 
}
